<!DOCTYPE html>
<html>
<head>
</head>

<body>

  <% @recipes.each do |recipe| %>
    <h3><%= recipe.name %></h3>
    <a href="/recipes/<%= recipe.id %>">See Recipe</a>
  <% end %>

  <h4>Create a new recipe:</h4>
  <a href="/recipes/new">Create</a>

</body>
</html>
